.box{/*整体*/
    background-color:rgb(68, 68, 208);
    width: 600px;
    height: 320px;
    top: 160px;
    left: 300px;
    position: relative;
}
.h2{/*开头段*/
    text-align: center;
}
.box2{/*第一个圆角*/
    width: 220px;
    height: 80px;
    background: aqua;
    border-radius: 10px;
    display: block;
    margin: auto;
    text-align: center; 
}
.box3{ /*第二第三个圆角*/
    width: 220px;
    height: 80px;
    background: aquamarine;
    border-radius: 10px;
    display: inline-block;
   text-align: center; 
}
.p1{display: inline-block;
    text-align: center;
width: 150px;}
.p2{text-align: center;
margin: 20px 0 20px 0;
}