.div1{
    background:  linear-gradient(-90deg, #29bdd9 0%, #276ace 100%);
    border-radius: 20px;
    width: 150px;
    height: 150px;
    position: relative;
}
.div2{
    background: white;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 26px;
}
.div3{
    background: white;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 42px;
    left: 69px;
}
.div4{
    width: 38px ;
    height: 10px;
    position: absolute;
    top: 85px;
    left: 62px;
    background: white;
}
.p1{
    width: 38px;
    height: 8px;
    position: absolute;
    border-radius: 10px;
    top: 88px;
    left: 36px;
    background: white;
}
.p2{
    width: 30px;
    height: 8px;
    position: absolute;
    border-radius: 10px;
    top: 88px;
    left: 80px;
    background: white;
}
.p3{
    width: 27px;
    height: 8px;
    position: absolute;
    border-radius: 10px;
    top: 103px;
    left: 36px;
    background: white;
}
.p4{
    width: 42px;
    height: 8px;
    position: absolute;
    border-radius: 10px;
    top: 103px;
    left: 68px;
    background: white;
}  

